/* CSS */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Carousel */

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}


/* carousel fullscreen */

.carousel-fullscreen .carousel-inner .item {
  height: 100vh; 
  min-height: 600px; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover;
}


/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* overlay for better readibility of the caption  */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

.super-heading {
  font-size: 90px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bolder;
}

.super-paragraph {
  font-size: 30px; font-weight: 300;
}

.carousel-caption .super-paragraph a,
.carousel-caption .super-paragraph a:hover
{
  color: #fff;
}

#carousel-example-generic {
  margin: 40px 0;
}

.logo-font {
  font-family: 'Lobster', sans-serif;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  min-width: 100%;
}



body {
  text-align: center;
  height: 80vh;
}

.principal-view {
  height: 85vh;
  width: 100%;
  color: #2d0946;
  font-size: 15px;
  font-weight: 700;
}

section {
  height: auto;
}

footer {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  height: 5vh;
}

.logo-box {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  font-family: 'Pt Sans Narrow', sans-serif;
  font-size: 3.7em;
  font-weight: bolder;
  text-align: center;
  align-content: center;
  height: 80vh;  
}

.logo-box img {
  width: 200px;
  height: 200px;
}

.register-box {
  align-content: center;
  height: 80vh;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.form-group {
  align-content: center;
  background-color: rgba(207, 198, 195, 0.7);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(36, 2, 58);
  font-family: 'Roboto', sans-serif;
  text-shadow: none;
}

input[type="email"], input[type="password"] {
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
  margin-bottom: 20px;
  }
  
.btn {
  background: linear-gradient(to bottom right, #6C567B, #C06C84);
  border:none;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 200;
  transition: box-shadow .4s ease;
  margin-bottom: 20px;
}

.btn:hover {
  box-shadow: 1px 1px 5px #555;
  background-color: whitesmoke;
}

.login-facebook-google {
  color: #6C567B;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  justify-content: space-around;
}

.login-facebook-google img {
  align-self: center;
  height: 50px;
  margin: 20px auto;
} 

.login-facebook-google img:hover {
  border-radius: 250px;
  box-shadow: 5px 10px rgba(192, 108, 132, 0.8);
}
