*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
hr{
    height: 1px;
    background-color:rgb(206, 206, 206);
}
/*estilos del header*/
.header{
    margin-bottom: 12px;
    background: linear-gradient(to bottom right,#3A0077 , rgb(56, 48, 216));
    box-shadow: 6px 5px 6px -4px rgb(16, 1, 31);
}
header a, header h1{
    color: #FFFCEA;
}
header h1{
    font-family: 'Megrim', cursive;
    margin-left: 2%;
}
header li{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.bell img{
    width: 20px;
}
/*perfil*/
.profile-div{
    width:100%;
    padding: 20px;
    border: 0.8px solid rgb(212, 212, 212);
    border-radius: 2px;
    background-color: white;
    box-shadow: 6px 7px 6px -4px rgb(206, 206, 206);
}
.profile-div img{
   width: 200px;
   height: 200px;   
}
.profile-div p img{
    margin-top:0; 
    width:20px;
}
/*Newsfeed*/
.newsfeed{
    background-color: white;
    border: 0.8px solid rgb(212, 212, 212); 
    border-radius: 2px;
    box-shadow: 6px 7px 6px -4px rgb(212, 212, 212);
}
.area-post{
    margin-left: -15px;
    margin-right: -15px;
    background-image: url('../assets/images/playa.jpg');
    background-repeat:no-repeat;
    background-size: cover;
} 
.contact{
    width: 80px;
    height: 80px;
}
.newsfeed-contact{
    margin-bottom: 30px;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 2px 3px 8px -1px rgb(206, 206, 206);
    padding-top:20px; 
}
.newsfeed .form-group{
    padding: 20px;   
}
.btn {
    background: #A5F2E7;
    border:1px solid rgb(215, 245, 240);
    border-radius: 7px;
    color: rgb(20, 20, 20);
    font-size: 17px;
    font-weight: 700;
    transition: box-shadow .4s ease;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
.btn:hover {
    box-shadow: 1px 1px 5px #555;
    background-color: whitesmoke;
}
.profile-div p i{
    color: black;
}
.follow{
    margin-left: 2px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 6px;
    padding: 0px;
}  

.icon-follow{
    width: 20px;
}
.container-icons{
    box-sizing: border-box;
    display: block;
    height: 60px;
    padding: 5px;
}
.icons span{
    margin:2px 12px;
}
.icons span img{
    width: 30px;
}
.icons span:hover, .follow:hover {
    box-shadow: 1px 1px 5px #555; 
    border-radius: 50%;
    padding: 10px; 
    display: inline-block;  
}
.comments{
    margin-left: 19%;
}
.comment-display-section{
    height: auto;
    padding-left:8px; 
}
.parapgrah-comment{   
    width: 100%;
    height: auto;
}

.text{
    margin-bottom: 5px;
}
.btn-coments{
    background: #A5F2E7;;
    border:none;
    border-radius: 5px;
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-weight: 200;
    transition: box-shadow .4s ease;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 15px;
}
.btn-coments:hover {
    color: #555;
    box-shadow: 1px 1px 5px #555;
    background-color: whitesmoke;
}
.created-area{
    margin-left:-136px;
}

/*footer*/
footer{
    padding: 1.5em;
    color: #6C567B;
}