*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f5f8fa;
}
/*estilos del header*/
.header{
    margin-bottom: 10px;
    background:linear-gradient(to bottom right, #6C567B, #C06C84);
}
header a, header h1{
    color: white;
}
header h1{
    font-family: 'Megrim', cursive;
    margin-left: 2%;
}
header li{
    font-family: 'Bellefair', serif;
    font-size: 20px;
}
.bell img{
    width: 20px;
}
/*perfil*/
.profile-div{
    width:100%;
    padding: 20px;
    border: 1px solid rgba(184, 184, 184, 0.637);
    border-radius: 2px;
    background-color: white;
}
.profile-div img{
   width: 150px;
   height: 150px;
}
/*Newsfeed*/
.newsfeed{
    background-color: white;
    border: 1px solid rgba(184, 184, 184, 0.637);
    border-radius: 2px;
}
.area-post{
    /* outline: 1px solid red; */
    /* background-color: rgba(248, 177, 149, 0.7); */
    margin-left: -15px;
    margin-right: -15px;
    background-image: url('../assets/images/imagen1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
} 
.contact{
    width: 80px;
}
.newsfeed-contact{
    margin-bottom: 30px;
}
.newsfeed .form-group{
    padding: 20px;   
}

.btn {
    background: #6C567B;
    border:none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 200;
    transition: box-shadow .4s ease;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Bellefair', serif;
  }
  
.btn:hover {
    box-shadow: 1px 1px 5px #555;
    background-color: whitesmoke;
}
.follow{
    margin-left: 2px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 6px;
    padding: 0px;
}  
.icon-follow{
    width: 20px;
}
.icons span img{
    width: 30px;
}
.icons span:hover, .follow:hover {
    box-shadow: 1px 1px 5px #555; 
    border-radius: 50%;
    padding: 10px; 
    display: inline-block;  
}
.comments{
    margin-left: 19%;
}
.parapgrah-comment{
    margin-left: 19%;
    width: 100%;
    height: auto;
}
/*footer*/
footer{
    padding: 1.5em;
}