*{
    border: 0;
    padding: 0;
    margin: 0;
}
.header{
    margin-bottom: 10px;
    background-color: aqua;
}
.bell img{
    width: 20px;
}
.profile-div{
    width:100%;
    outline: 1px solid red; 
}
.profile-div img{
   width: 100px;
}
.newsfeed{
    outline: 1px solid green;
}
footer{
    padding: 1.5em;
}
.contact{
    width: 80px;
}
.newsfeed-contact{
    margin-bottom: 30px;
}
.btn-primary{
    padding: 10px;
    border-radius: 5px;
}