<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Megrim|Mountains+of+Christmas|Share+Tech+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Cookie|Dosis|Macondo|Pacifico|Sacramento|VT323" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/newsfeed.css">
    <title>Final Product</title>
</head>

<body>
    <!--header-->
    <header>
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="bell">
                        <a href="#">
                            <img src="../assets/images/bell.svg" alt="bell">
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="profile.html">Mi perfil</a>
                    </li>
                    <li role="presentation">
                        <a href="final.html">Salir</a>
                    </li>
                </ul>
            </nav>
            <h1 class="">beCreative</h1>
        </div>
    </header>
    <!--contenido-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="profile-div">
                    <img class="center-block img-circle" src="../assets/images/foto.jpg" alt="user-picture">
                    <h3 class="text-center">Designer</h3>
                    <hr>
                    <b>About:</b>
                    <p>Vive en Peru</p>
                    <p>Trabaja en art & design</p>
                    <p>Diseñadora grafica</p>
                </div>
            </div>
            <div class="col-sm-8 newsfeed">
                <div class="area-post">
                    <div class="form-group">
                        <textarea class="form-control" rows="4" id="textarea" placeholder="Expresa tu creatividad..."></textarea>
                        <button id="post" class="btn">Publicar</button>
                    </div>
                </div>
                <hr>
                <section>
                    <div class="clearfix newsfeed-contact">
                        <figure class="col-xs-3 col-sm-2">
                            <img src="../assets/images/paper-flower1.jpg" class="img-circle contact" alt="Profile">
                        </figure>
                        <h4 class="col-xs-4 col-sm-3">
                            <a href="profile1.html"></a>paper my life</h4>
                        <span class="follow">
                            <a href="#" data-toggle="tooltip" title="Seguir">
                                <img src="../assets/images/addcontact.svg" alt="followers" class="icon-follow">
                            </a>
                        </span>
                        <p class="col-xs-9 col-sm-10 text clearfix">Los dos van de la mano ya que el diseño y el arte se realizan con un fin aunque con otros parámetros.
                            Tanto artistas como diseñadores crean composiciones visuales usando una base de conocimiento
                            compartido.
                        </p>
                        <div class="container-icons col-xs-offset-3 col-xs-8 col-sm-offset-2 col-sm-9">
                            <p class="time col-xs-1 col-sm-1">12:10</p>
                            <div class="icons col-xs-offset-5 col-sm-offset-8">
                                <span class="comment comment1">
                                    <img src="../assets/images/chat.svg" alt="chat">
                                </span>
                                <span>
                                    <a href="#" data-toggle="tooltip" title="Me encanta">
                                        <img src="../assets/images/heart.svg" alt="heart">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Sección para realizar comentario -->
                    <div class="comment-area comments" hidden>
                        <!-- Área para escribir comentario -->
                        <textarea name="name" class="post-txtarea" id="comment-txtarea" placeholder="Comentario..."></textarea>
                        <!-- Botón para enviar comentario -->
                        <button type="button" name="button" class="btn-coments" id="comment-btn">Comentar</button>
                    </div>
                    <!-- Sección donde aparecerá el comentario hecho -->
                    <div class="comment-display-section">
                    </div>
                    <hr>
                    <div class="clearfix newsfeed-contact">
                        <figure class="col-xs-3 col-sm-2">
                            <img src="../assets/images/velour.jpg" class="img-circle contact" alt="Profile">
                        </figure>
                        <h4 class="col-xs-2 col-sm-2 text-upper case">
                            <a href="profile.html"></a> velour</h4>
                        <span class="follow">
                            <a href="#" data-toggle="tooltip" title="Seguir">
                                <img src="../assets/images/addcontact.svg" alt="followers" class="icon-follow">
                            </a>
                        </span>
                        <p class="col-xs-9 col-sm-10 text clearfix">Los dos van de la mano ya que el diseño y el arte se realizan con un fin aunque con otros parámetros.
                            Tanto artistas como diseñadores crean composiciones visuales usando una base de conocimiento
                            compartido.
                        </p>
                        <div class="container-icons col-xs-offset-3 col-xs-8 col-sm-offset-2 col-sm-9">
                            <p class="time col-xs-1 col-sm-1">12:10</p>
                            <div class="icons col-xs-offset-7 col-sm-offset-8">
                                <span class="comment comment1">
                                    <img src="../assets/images/chat.svg" alt="chat">
                                </span>
                                <span>
                                    <a href="#" data-toggle="tooltip" title="Me encanta">
                                        <img src="../assets/images/heart.svg" alt="heart">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Sección para realizar comentario -->
                    <div class="comment-area2 comments" hidden>
                        <!-- Área para escribir comentario -->
                        <textarea name="name" class="post-txtarea" id="comment-txtarea" placeholder="Comentario..."></textarea>
                        <!-- Botón para enviar comentario -->
                        <button type="button" name="button" class="btn-coments" id="comment-btn">Comentar</button>
                    </div>
                    <!-- Sección donde aparecerá el comentario hecho -->
                    <div class="comment-display-section">
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer class="footer text-center">
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
    </div>
    <!-- /container -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="../js/moment.js"></script>
    <script src="../js/newsfeed.js"></script>
</body>

</html>
