<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile - Velour</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Megrim|Mountains+of+Christmas|Share+Tech+Mono" rel="stylesheet">
  <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
  <!-- Encabezado -->
  <header>
        <div class="clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="bell">
                        <a href="#">
                            <img src="../assets/images/bell.svg" alt="bell">
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="newsfeed.html" target="_blank">Noticias</a>
                    </li>
                    <li role="presentation">
                        <a href="chat.html" target="_blank">Chat</a>
                    </li>
                    <li role="presentation">
                        <a href="final.html">Salir</a>
                    </li>
                </ul>
            </nav>
            <h1>beCreative</h1>
        </div>
    </header>

  <!-- Perfil en miniatura -->
  <section class="container-fluid profile-min">
    <div class="row">
          <div class="profile-con col-xs-12  col-md-12">
            <figure>
              <img class="center-block img-circle user-picture" src="../assets/images/velour.jpg" alt="user-picture">
              <br>
              <figcaption class="text-center text-uppercase">
                velour
                <a class="follow" href="#" data-toggle="modal" data-target=".bs-example-modal-sm">
                  <img src="../assets/images/addcontact.svg">
                </a>
              </figcaption>
            </figure>
          </div>
    </div>

  </section>

  <!-- Sección de creación de publicaciones -->
  <section class="post-section">
    <div>
      <!-- Área para escribir contenido de publicación -->
      <textarea name="name" class="center-block post-txtarea" id="post-txtarea" placeholder="Expresa tu creatividad"></textarea>
      <br>
      <input type="file" name="" value="" class="upload-photos">
      <br>
      <!-- Botón para publicar -->
      <button type="send" name="button" class="center-block post-btn" id="post-btn">Publicar</button>
    </div>
  </section>

  <!-- Sección de fotos y publicaciones -->
  <section class="photo-post-section">
    <!-- Contenedor de la publicación -->
    <div class="post-container">
      <!-- Publicación -->
      <p>ART OF RESISTANCE</p>
      <!-- Imágenes -->
      <figure class="photo-profile">
        <img class="pic-test"  src="../assets/images/gaga-velour.jpg" alt="gaga-velour">
        <img class="pic-test"  src="../assets/images/night-glowns.jpg" alt="night-glowns">
        <img class="pic-test"  src="../assets/images/dog-velour.jpg" alt="dog-velour">
      </figure>
      <br>
      <span class="time-indicator">12:25</span>
      <!-- Ícono para dar like -->
      <a class="heart" href="#">
        <img src="https://image.flaticon.com/icons/png/128/149/149217.png" alt="heart">
      </a>
      <!-- Ícono para dar like pintado -->
      <a class="colored-heart" href="#" hidden>
        <img src="https://image.flaticon.com/icons/png/128/214/214309.png" alt="colored-heart">
      </a>
      <!-- Ícono para comentar -->
      <a class="comment-bubble" href="#">
        <img src="../assets/images/chat.svg">
      </a>
      <!-- Sección para realizar comentario -->
      <div class="comment-side" hidden>
        <!-- Área para escribir comentario -->
        <textarea name="name" class="center-block post-txtarea" id="comment-txtarea" placeholder="Comentario..."></textarea>
        <!-- Botón para enviar comentario -->
        <button type="button" name="button" id="comment-btn">Comentar</button>
      </div>
      <!-- Sección donde aparecerá el comentario hecho -->
      <div class="comment-display-section">

      </div>
    </div>
  </section>

  <!-- Pie de página -->
  <footer class="footer text-center">
    <p>Copyright&copy; beCreative 2018</p>
  </footer>

  <!-- Ventana emergente que indica que se ha agredado a un contacto -->
  <div id="contact-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div id="contact-modal-content" class="modal-content">
        <p class="text-center">Contacto agregado</p>
      </div>
    </div>
  </div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/profile.js">

</script>
<script type="text/javascript" src="../js/moment.js">

</script>
</body>
</html>
